* {
    margin: 0px;
    box-sizing: border-box;
}

header {
    height: 150px;
    background-color: rgb(105, 153, 255);
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    background-size: 30%;
}

header img {
    width: 20%;
    margin-top: 50px;
    margin-left: 150px;
}