* {
    margin: 0px;
    box-sizing: border-box;
}

/* Banner e logo HEADER */

header {
    height: 150px;
    background-color: rgb(105, 153, 255);
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    background-size: 30%;
}

header img {
    width: 20%;
    margin-top: 50px;
    margin-left: 150px;
}

/* Inizio Body: titolo e immagini */

main, aside {
    margin: 50px 150px 50px 150px;
}

h1 {
    font-size: 70px;
}

.sottotitolo {
    color: grey;
}

h2 {
    font-weight: 500;
}

.credits {
    color: rgb(105, 153, 255);
}

.didascalia {
    font-size: medium;
    font-weight: 200;
}

section {
    margin-bottom: 30px;
}

section img {
    display: block;
    margin-bottom: 5px;
}

/* Testo e lista */

.mark {
    background-color: yellow;
}

ul {
    margin: 30px 0px 30px 0px;
    padding: 12px;
}

/* Tabella */

table {
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
    margin-bottom: 40px;
}

thead {
    background-color: rgb(105, 153, 255);
    color: white;
    font-weight: 900;
}

.row-color {
    background-color: rgba(105, 153, 255, 0.4);
}

/* Potrebbero interessarti */

h3 {
    font-weight: bolder;
}

.interest {
    color: white;
    font-size: x-large;
    font-weight: 700;
    padding: 20px;
    margin-top: 10px;
    height: 200px;
    width: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}

.one {
    background-image: url(../img/monitor.jpg);
}

.two {
    background-image: url(../img/graph.jpg);
}